/* Importando fontes a serem usadas */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #161616;
}

/* Iniciação do cabeçalho */
header {
    width: 100%;
    height: 50px;
    /* background-color: #202020ea; */
    text-align: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav button {

    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    width: 140px;
    height: 40px;
    background-color: #de070700;
    color: #ffffff;
    border-radius: 2px;
    border: 2px solid #DE0707;

}

header nav button:hover {
    background-color: #de0707;
    font-weight: 600;
    cursor: pointer;
}


header nav a li {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    width: auto;
    margin: 25px 15px 0 0;
    padding: 0 10px;
    display: inline-flex;


}

header nav a li:hover {
    color: #dad8d8
}

/* Inicio do conteudo */
.SectionInicial {
    width: 100%;
    height: 75vh;
    margin-top: 3vh;
    background-image: url(../img/bannerHome.jpg);
    background-position: center;
    background-size: cover;
    display: column;
    align-items: center;
    justify-content: center;

}

.blur {
    background-color: #000000c5;
    width: 100%;
    height: 75vh;
    position: absolute;
    z-index: 0;
}

.SectionInicial h1 {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 6%;
    color: #ffffff;
    /* background-color: black; */
    position: relative;
    z-index: 1;
}

span {
    color: #BD1D1E;
    font-weight: 700;
}

.SectionInicial p {
    margin: 50px 10%;
    text-align: center;
    color: #dad8d8;
    /* background-color: black; */
    font-size: 1.4em;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    position: relative;
    z-index: 1;
}

.carlosLogo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.carlosLogo img {
    max-width: 60%;
}

/* 
Inicio Sobre

.sectionSobre{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
.containerSobre{
    display: flex;
    
    width: 90%;
    height: 80%;
    background-color: #363636;
    border-radius: 2px; 
}
.textoSobreSobre{
    color: #FFFFFF;
    background-color: rebeccapurple;
    text-align: justify;
    max-width: 40%;
    margin-left: 30px;

}
.textoSobreSobre h1 {
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 3em;
}
.textoSobreSobre p{
    font-size: 1.3em;
    font-family: "Nunito",sans-serif;
}

.containerSobre img{
    max-width: 30%;
    margin: auto ;
    filter: drop-shadow(0 0 0.25rem rgb(220, 20, 20));
      
} */


/* Inicio Assunto da pagina */
.sectionAssunto {
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 90vh;
    display: flex;

}

.textoAssunto {
    color: #ffffff;
    width: 50%;
    /* background-color: rgb(255, 127, 127); */
    margin: 80px 0 0 80px;
}

.textoAssunto h1 {
    font-family: "Raleway", sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-align: left;
    margin-bottom: 40px;
    color: #FFFFFF;
}

.textoAssunto p {
    font-family: "Nunito", sans-serif;
    font-size: 1.5em;
    margin-bottom: 50px;
    text-align: left;
}

.textoAssunto h2 {
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}

.textoAssunto li {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 30px;
    list-style: square inside;
    text-align: left;
}

.videoAssunto {
    /* background-color: rebeccapurple; */
    margin: auto;
    padding: 20px;
}

.videoAssunto iframe {
    max-width: 500px;
    height: 400px;

}

/* Inicio Ferramentas */
.sectionFerramentas {
    background-color: #303030;
    width: 100%;
    height: 150vh;
}

.textoFerramentas {
    text-align: left;

}

.textoFerramentas h1 {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 3em;
    color: #ffffff;
    padding-top: 50px;
    margin-left: 80px;
    /* background-color: rebeccapurple; */
}

.textoFerramentas h2 {
    font-family: "Raleway", sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 80px;
    font-size: 1.5em;
    color: #dad8d8;
    box-shadow: 3px 2px #BD1D1E;
    font-weight: 700;
}

.asFerramentas {
    /* background-color: rebeccapurple; */
    height: 70%;
    margin: 70px 80px;
    display: flex;
}

.TbPrefFinanceira {
    width: 270px;
    height: 300px;
    border: 3px solid #BD1D1E;
    border-radius: 10px;
    box-shadow: 0 0 0.5em #BD1D1E;
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* background-color: #16161661; */
    /* cursor: pointer; */
    transition: ease-in-out 0.3s;
}

i.fa-solid.fa-table {
    color: #DDE2E5;
    font-size: 3.1em;
    margin: 40px 0 60px 40px;
}

.TbPrefFinanceira p {
    color: #DDE2E5;
    font-family: "Nunito", serif;
    font-weight: 700;
    font-size: 1.4em;
    margin: 0 10px 0 20px;
}

.TbPrefFinanceira:hover {
    margin: 10px 20px 20px 20px;
    box-shadow: 0 0 1em #BD1D1E;

}